{% extends 'base.html.twig' %}

{% block title %}Suppliers index{% endblock %}

{% block body %}
    <h1>Suppliers index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>SupplierName</th>
                <th>SupplierNation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.id }}</td>
                <td>{{ supplier.SupplierName }}</td>
                <td>{{ supplier.SupplierNation }}</td>
                <td>
                    <a href="{{ path('app_suppliers_show', {'id': supplier.id}) }}" class="btn btn-success">show</a>
                    <a href="{{ path('app_suppliers_edit', {'id': supplier.id}) }}" class="btn btn-warning">edit</a>
                    <a href="{{ path('app_suppliers_delete', {'id': supplier.id}) }}" class="btn btn-danger">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_suppliers_new') }}">Create new</a>
{% endblock %}
